<!DOCTYPE html>
<html lang="en">
<head>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>CATI</title>

    <!-- Bootstrap -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://bootswatch.com/united/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-resource.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-resource.misn.js"></script>
    <script  src="/node_modules/angular/angular.js"></script>
    <script  src="/node_modules/angular/angular.min.js"></script>
    <script src="/controllers/encuestadores.js"></script>

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script>
        $(document).ready(function() {
            $("#datepicker").datepicker({ dateFormat : 'yy-mm-dd' });
        });
    </script>
</head>
<body ng-app="Cati"  ng-controller="encuestadores">
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--<a class="navbar-brand" href="/">Inicio</a>-->
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Encuestadores <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/crearencuestador">Crear encuestador</a></li>
                        <li><a href="/verencuestadores">Ver encuestadores</a></li>
                    </ul>
                </li>
            </ul>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Proyectos <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/crearproyecto">Crear proyecto</a></li>
                            <li><a href="/verproyectos">Ver proyectos</a></li>
                        </ul>
                    </li>
                </ul>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-3">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Audios <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/audios">Ver archivos</a></li>
                            </ul>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Bienvenido Usuario! <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <!--<li><a href="#">Ver Perfil</a></li>-->
                                <li><a href="/logout">Cerrar Sesión</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </div>
    </div>
</nav>

<div>
    <h1>&#9658 Audios</h1>
</div>

<hr>
<div align="middle">
<form class="form-horizontal" action="/audios" method="POST" enctype="application/x-www-form-urlencoded" >
    <fieldset>
        <div class="form-group">
            <span style="font-size : 20px">Seleccione fecha en el calendario para listar audios de la fecha seleccionada</span>
            <div style="font-size: 15px ; color: #8c8c8c"> Dejar en blanco para listar fechas disponibles </div>
            <div>
                <input id="datepicker" name="fecha"/>
            </div>
        <div class="form-group">
            <div >
                <button type="submit" class="btn btn-primary">Buscar</button>
            </div>
        </div>
    </fieldset>
</form>
</div>
<% if (message.length > 0) { %>
<div align = "middle">
    <div style="width: 33%" align="middle" class="alert alert-danger"><%= message %></div>
</div>
<% } %>

</body>
</html>