<!DOCTYPE html>
<html lang="en">
<head>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Sistema CATI 1.1.4</title>

    <!-- Bootstrap -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://bootswatch.com/united/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-resource.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-resource.min.js"></script>
    <script  src="/node_modules/angular/angular.js"></script>
    <script  src="/node_modules/angular/angular.min.js"></script>
    <script src="/controllers/encuestadores.js"></script>
    <style>
        div#modificar   { padding-left:20px; float: left; }
    </style>
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--<a class="navbar-brand" href="/">Inicio</a>-->
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Encuestadores <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/crearencuestador">Crear encuestador</a></li>
                        <li><a href="/verencuestadores">Ver encuestadores</a></li>
                    </ul>
                </li>
            </ul>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Proyectos <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/crearproyecto">Crear proyecto</a></li>
                            <li><a href="/verproyectos">Ver proyectos</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-3">
                    <!--  <ul class="nav navbar-nav">
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Contactos <span class="caret"></span></a>
                          <ul class="dropdown-menu">
                            <li><a href="/cargarcontactos">Cargar contactos</a></li>
                            <li><a href="/vercontactos">Ver contactos</a></li>
                          </ul>
                        </li>
                      </ul> -->

                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Bienvenido Usuario! <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <!--<li><a href="#">Ver Perfil</a></li>-->
                                <li><a href="/logout">Cerrar Sesión</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </div>
    </div>
</nav>

<h1 style="padding-left:10px">Encuestador: <%= resultado[0].usuarioencuestador %></h1>
<hr>
<div style="padding-left:20px">
    <h3>Nombre: <%= resultado[0].nombre %></h3>
    <h3>Contraseña: <%= resultado[0].contrasena %></h3>
</div>
<div id="modificar">
    <a class="btn btn-lg btn-primary" href="/modificarencuestador/<%= resultado[0].usuarioencuestador%>">Modificar</a>
</div>
<div id="eliminar">
    <form class="form-horizontal" action="/api/eliminarencuestador/<%= resultado[0].usuarioencuestador%>" method="POST" enctype="application/x-www-form-urlencoded">
        <div class="form-group">
            <div class="col-lg-3">
                <button type="submit" class="btn btn-lg" id="usuarioencuestador" name="usuarioencuestador" placeholder="usuarioencuestador">Eliminar
                </button>
            </div>
        </div>
    </form>
</div>
</body>
</html>