<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Proyecto</title>

</head>
<body>
<%= id_usuario%>

<form class="form-horizontal" action="/api/eliminarencuestador/<%= id_usuario%>" method="POST" enctype="application/x-www-form-urlencoded">
    <div class="form-group">
        <div class="col-lg-3">
            <button type="submit" class="form-horizontal" id="usuarioencuestador" name="usuarioencuestador" placeholder="usuarioencuestador">Algo
            </button>
        </div>
    </div>
</form>>
<form class="form-horizontal" action="/api/modificarenuestador/<%= id_usuario%>" method="POST" enctype="application/x-www-form-urlencoded">
    <div class="form-group">
        <div class="col-lg-3">
            <button type="submit" class="form-horizontal" id="usuarioencuestad" name="usuarioencuestad" placeholder="usuarioencuestad">Algo
            </button>
        </div>
    </div>
</form>
</body>
</html>