<!DOCTYPE html>
<html lang="es">
<head>
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>CATI</title>

  <!-- Bootstrap -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://bootswatch.com/sandstone/bootstrap.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-resource.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-resource.min.js"></script>
  <script  src="/node_modules/angular/angular.js"></script>
  <script  src="/node_modules/angular/angular.min.js"></script>
  <script src="/controllers/encuestadores.js"></script>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!--<a class="navbar-brand" href="/">Inicio</a>-->
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Encuestadores <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/crearencuestador">Crear encuestador</a></li>
            <li><a href="/verencuestadores">Ver encuestadores</a></li>
          </ul>
        </li>
      </ul>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Proyectos <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/crearproyecto">Crear proyecto</a></li>
              <li><a href="/verproyectos">Ver proyectos</a></li>
            </ul>
          </li>
        </ul>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-3">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Audios <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/audios">Ver archivos</a></li>
              </ul>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Bienvenido <%=  nombre %>! <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <!--<li><a href="#">Ver Perfil</a></li>-->
                <li><a href="/logout">Cerrar Sesión</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </div>
  </div>
</nav>
<h1>&#9658<a href="/verproyectos" style="text-decoration: none; color : #292929">Proyectos</a>
  &#9658<a href="/verproyecto/<%=idproyecto%>" style="text-decoration: none; color : #292929"><%=nombrep%> </a>
  &#9658 Contacto rut: <%=resultado.rutcontacto%></h1>
<hr>
<h3> &#9658 Información</h3>

<div align="middle">
  <div align="middle" style="width: 36.3%">
    <div class="box" id="proyecto" style="background: #e8e8e3;padding-bottom: 5%;padding-top: 2%;border-radius: 1%">
      <div class="box" id="hcustom" style="font-size: 35px; color: #292929;"> Contacto: <%= resultado.nombre%></div>
      <span style="color: #292929;">
            <div align="left" style="padding-left: 50px; font-size: 20px">Número: <%= resultado.numero%></div>
            <div align="left" style="padding-left: 50px; font-size: 20px">Rut: <%= resultado.rutcontacto%></div>
            <div align="left" style="padding-left: 50px; font-size: 20px">Dirección: <%= resultado.direccion%></div>
        </span>
    </div>

    <div id="eliminar" style="float:left">
      <form class="form-horizontal" action="/api/eliminarcontacto/<%= resultado.rutcontacto%>/<%= idproyecto %>" method="POST" enctype="application/x-www-form-urlencoded">
        <div class="form-group">
          <div class="col-lg-3">
            <button  type="submit" class="btn btn-danger btn-lg"  id="idproyecto" name="idproyecto" placeholder="IDdproyecto">Eliminar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<hr style="clear: both;">
<h3> &#9658 Llamadas</h3>
<%if(llamada.length!=0){%>
<table class="table">

  <thead>
  <tr>
    <th> Encuestador  </th>
    <th> Fecha</th>
    <th> Estado de llamada </th>

  </tr>
  </thead>
  <% for (var i= 0;i< llamada.length;i++){ %>
  <tbody>
  <tr>
    <td><%= llamada[i].usuarioencuestador%></td>
    <td><%= llamada[i].createdAt%></td>
    <td><%= llamada[i].estado%></td>
  </tr>
  <% }%>
  </tbody>
</table>
<%}else{%>
<div style="padding-left: 10px ;color:#ff4d4d"> EL contacto no registra llamadas.</div>
<%}%>

</body>
</html>